@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBookingPaymentProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyBookingPaymentProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" rel="stylesheet">
    <style>
        .btn-glow {
            background-color: #ff69b4;
            border: none;
            padding: 10px 20px;
            font-weight: bold;
            border-radius: 10px;
            text-decoration: none;
            animation: glow 1.5s infinite ease-in-out;
            color: white !important;
            box-shadow: 0 0 10px #ff69b4;
        }

            .btn-glow:hover {
                color: orangered !important;
            }

        .btn-session {
            background-color: #d96c9c;
            color: white;
            border-radius: 25px;
            padding: 10px 22px;
            font-size: 1rem;
            margin: 10px 10px 0 0;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

            .btn-session:hover {
                background-color: #b24c7d;
                color: white;
            }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand services-title" asp-area="" asp-controller="Home" asp-action="Index" >Lilium Asmaa Kamel  </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between flex-6 flex-grow-1 ">

                    <ul class="navbar-nav link-hover ">
                        <li class="nav-item  text-right ">
                            <a class="nav-link" style="color:fuchsia " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item link-hover ">
                            <a class="nav-link" style="color:fuchsia " asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                     @*    <li class="nav-item link-hover ">
                            <a class="nav-link " style="color:fuchsia" asp-area="" asp-controller="Home" asp-action="Payments">Payments</a>
                        </li> *@
                        <li class="nav-item link-hover ">
                            <a class="nav-link " style="color:fuchsia " asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </li>
                        <li class="nav-item link-hover ">
                            <a class="nav-link " style="color:fuchsia " asp-area="" asp-controller="Home" asp-action="Services">Services</a>
                        </li>
                    </ul>
         @if (!string.IsNullOrEmpty( HttpContextAccessor?.HttpContext?.Session.GetString("UserName")))
                 {
                     <ul>
                       Welcome Back  @HttpContextAccessor.HttpContext.Session.GetString("UserName")
                            
                         </ul>
                            <a href="@Url.Action("Logout", "Home")" class="btn-session btn-glow">Logout</a>
                 }
                    else{
                <a href="@Url.Action("Login", "Home")" class="btn-session btn-glow">Login</a>
                    }
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - MyBookingPaymentProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
    body {
        font-family: 'Quicksand', sans-serif;
    }

    .services-title {
        font-family: 'Playfair Display', serif;
    }
</style>